@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Golos+Text:wght@400..900&display=swap');

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "remixicon/fonts/remixicon.css";

@import "tailwindcss";

:root {
  --prim: #CAA05C;
  --text: #1C1C1D;
  --body: #F6F6F6;
  --white: #FFF;
  --black: #000;

  --CalSans: var(--font-calsans), sans-serif;
  --GolosText: var(--font-golostext), sans-serif;
  --Audiowide: var(--font-audiowide), sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s
}

body {
  background-color: var(--body);
}

.CalSans {
  font-family: var(--CalSans);
}

.GolosText {
  font-family: var(--GolosText);
}

.Audiowide {
  font-family: var(--Audiowide);
}